@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1718965975504') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 45px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-a-appround15:before {
  content: "\e92f";
}

